@import "imports/variables.scss";

#my_mobile_menu.ui.menu{
    margin-top:0;
    /*padding: 0.5em 0;*/
    margin-bottom:0;
    border-radius: 0;
    border-top-color: $BSLight;
    .ui.container{
        width:100%;
/*        margin-left: 2em!important;
        margin-right:2em!important;*/

        .left.menu{
            .site_title{
                font-weight: bold;
                font-size: 12pt;
                color: #232f3e;
                margin-left: 0.5em;
            }
            .logo{
                &:hover{
                    background-color: #FFF;
                }
                &:focus{
                    background-color: #FFF;
                }
            }
            .item{
                .ui.icon.input{
                    input{
                        border-radius: 0;
                    }
                }
            }
        }
        

        .right.menu{
            .item{
                .ui.button{
                    border-radius: 0;
                }
            }
        }
    }
}

