/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 23, 2017, 11:19:41 PM
    Author     : Bookshare
*/

.newpost{
    text-align: left !important;
    background: rgba(146, 134, 148, 0.04);
    border-radius: 5px;
}

.newpost-container{
    padding-top: 21px ! important;
    padding-bottom: 20px !important;
}

#save-btn{
    background-color: #4183c4;   
}

.label_terms_use{
    text-align: justify;
    padding-bottom:2em;   
    
}